<h2 style="font-weight: 600">Select Booth</h2>
<div class="card shadow p-3 mb-5 mt-3 bg-white rounded" style="border: none">
  <div class="card-body">
    <form action="/admin/annotations_selectbooth" method="POST">
      <div class="mb-3">
        <label for="annBooth" class="form-label">Booth</label>
        <select
          id="annBooth"
          name="boothid"
          class="select-booth"
          aria-label="Booth Number"
        >
          <% locals.booths ? booths.forEach(function(booth){ %>
          <option value="<%= booth.uid %>">
            <%= booth.number %>. <%= booth.name %>
          </option>
          <% }) : '' %>
        </select>
      </div>
      <button type="submit">Search</button>
    </form>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".select-booth").select2();
  });
</script>
