<div class="container-fluid p-5">
  <h4 class="mb-4">
    <strong
      >"Halo! Selamat Datang di Build Your Gaming Empire. Kerajaan gaming ini
      sedikit lagi selesai didirikan. Kamu dapat hadir untuk melihatnya pada 19
      November 2021. Stay tune!"</strong
    >
  </h4>
  <img class="img-fluid" src="./img/landing/SCHDULE_BYGE.png" />
</div>

<style>
  .container-fluid {
    text-align: center;
    overflow: auto;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    border: 6px solid #c65a85;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #d55085;
    border-radius: 20px;
    color: white;
  }
</style>
