<div class="container-fluid">
  <!-- <h5 class="p-5">
    <strong
      >"Halo! Selamat Datang di Build Your Gaming Empire. Kerajaan gaming ini
      sedikit lagi selesai didirikan. Kamu dapat hadir untuk melihatnya pada 19
      November 2021. Stay tune!"</strong
    >
  </h5>
  <p class="pb-1 pt-3" style="font-size: 10px">
    <strong
      >"Halo! Selamat Datang di Build Your Gaming Empire. Kerajaan gaming ini
      sedikit lagi selesai didirikan. Kamu dapat hadir untuk melihatnya pada 19
      November 2021. Stay tune!"</strong
    >
  </p> -->
  <h1 class="title-glow mt-4 mb-3">BYGE 2021 SCHEDULE</h1>
  <img
    class="img-fluid mb-4"
    src="./img/landing/schedule/2.-byge-gaming-expo.png"
  />
  <a href="https://bit.ly/BYGEVALORANT">
    <img
      class="img-fluid mb-4"
      style="cursor: pointer"
      src="./img/landing/schedule/3.-valorant-public.png"
    />
  </a>
  <img
    class="img-fluid mb-4"
    src="./img/landing/schedule/5.--valorant-invitational.png"
  />
  <img
    class="img-fluid mb-4"
    src="./img/landing/schedule/6.--dealer-gathering.png"
  />
  <img class="img-fluid mb-4" src="./img/landing/schedule/7.--artist.png" />
  <img class="img-fluid mb-4" src="./img/landing/schedule/8.--sponsor.png" />
  <img class="img-fluid mb-4" src="./img/landing/schedule/9.--giveaway.png" />
  <img class="img-fluid mb-4" src="./img/landing/schedule/1.-press-con.png" />
</div>

<script>
  // $(document).ready(function () {
  //   if ($(window).width() <= 731) {
  //     $("h5").hide();
  //   } else {
  //     $("p").hide();
  //   }
  // });
</script>

<style>
  .container-fluid {
    text-align: center;
    overflow: auto;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    border: 6px solid #c65a85;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #d55085;
    border-radius: 20px;
    color: white;
  }
  .title-glow {
    -webkit-text-stroke: 2px #ff6db8;
    text-shadow: 0px 0px 10px #b7025f, 0px 0px 10px #b7025f,
      0px 0px 10px #b7025f;
    text-transform: uppercase;
    color: black;
  }
  ::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a0a3bd;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #01cdf2;
  }
</style>
