<div class="container-fluid">
  <h5 class="p-5">
    <strong
      >"Halo! Selamat Datang di Build Your Gaming Empire. Kerajaan gaming ini
      sedikit lagi selesai didirikan. Kamu dapat hadir untuk melihatnya pada 19
      November 2021. Stay tune!"</strong
    >
  </h5>
  <p class="p-5">
    <strong
      >"Halo! Selamat Datang di Build Your Gaming Empire. Kerajaan gaming ini
      sedikit lagi selesai didirikan. Kamu dapat hadir untuk melihatnya pada 19
      November 2021. Stay tune!"</strong
    >
  </p>
  <img class="img-fluid" src="./img/landing/SCHDULE_BYGE.png" />
</div>

<script>
  $(document).ready(function () {
    if ($(window).width() <= 731) {
      $("h5").hide();
    } else {
      $("p").hide();
    }
  });
</script>

<style>
  .container-fluid {
    text-align: center;
    overflow: auto;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    border: 6px solid #c65a85;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #d55085;
    border-radius: 20px;
    color: white;
  }
</style>
