<div class="main">
  <div class="wrapper">
    <div
      id="carouselExampleIndicators"
      class="carousel slide m-auto"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators pb-2">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="./img/carousel/1-Tutorial Info Produk.png"
            class="d-block w-100"
            alt="t-1"
          />
        </div>
        <div class="carousel-item">
          <img
            src="./img/carousel/2-Tutorial Mini Map Updated.png"
            class="d-block w-100"
            alt="t-2"
          />
        </div>
        <div class="carousel-item">
          <img
            src="./img/carousel/3-Tutorial navigasi.png"
            class="d-block w-100"
            alt="t-3"
          />
        </div>
        <div class="carousel-item">
          <img
            src="./img/carousel/4-Tutorial Mengunjungi Booth.png"
            class="d-block w-100"
            alt="t-4"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<style>
  html,
  body {
    height: 100%;
  }
  .main {
    height: 100%;
    width: 100%;
    display: table;
  }
  .wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }
  ::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a0a3bd;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #01cdf2;
  }
</style>
