<iframe
  src="./3d/index.htm"
  frameborder="0"
  style="width: 100vw; height: 100vh; position: absolute"
></iframe>
<div class="container-fluid">
  <img
    class="position-absolute top-50 start-0 translate-middle"
    style="width: 60px; cursor: pointer; margin-left: 25px"
    src="./img/landing/right-arrow.png"
    id="left-card-show"
    alt=""
  />
  <img
    class="position-absolute top-50 end-0 translate-middle"
    style="width: 60px; cursor: pointer; margin-right: -35px"
    src="./img/landing/left-arrow.png"
    id="right-card-show"
    alt=""
  />
  <div class="position-fixed top-50 start-0 translate-middle-y" id="left-card">
    <div class="card p-2">
      <a id="leftmenu" class="left-arrow" href="#">
        <img src="./img/landing/left-arrow.png" alt="" />
      </a>

      <div class="card-content">
        <img class="logo" src="./img/Logo.png" style="width: 160px" />
        <div class="card-header">
          <div class="menu px-5 py-2">
            <img
              src="./img/landing/stadium.png"
              alt="stadium-icon"
              style="width: 40px"
            />
            <p class="h6">BYGE ARENA</p>
          </div>
          <div class="menu px-5 py-2" id="expo">
            <img
              src="./img/landing/barrier.png"
              alt="stadium-icon"
              style="width: 40px"
            />
            <p class="h6">BYGE EXPO</p>
          </div>
          <div
            class="menu px-5 py-2"
            data-bs-toggle="modal"
            data-tagVideo="https://www.youtube.com/embed/zcX7OJ-L8XQ"
            data-bs-target="#videoModal"
          >
            <img
              src="./img/landing/prize.png"
              alt="stadium-icon"
              style="width: 40px"
            />
            <p class="h6">WIN PRIZES</p>
          </div>
          <div class="menu px-5 py-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img
              src="./img/landing/information.png"
              alt="stadium-icon"
              style="width: 40px"
            />
            <p class="h6">EVENT INFO</p>
          </div>
          <div class="menu px-5 py-2" onclick="openNewWindow()">
            <img
              src="./img/landing/hot-sale.png"
              alt="stadium-icon"
              style="width: 40px"
            />
            <p class="h6">SPECIAL DEAL</p>
          </div>
          <div class="menu px-5 py-2">
            <img
              src="./img/landing/logout.png"
              alt="stadium-icon"
              style="width: 40px"
            />
            <p class="h6">LOG OUT</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="position-fixed top-50 end-0 translate-middle-y" id="right-card">
    <div class="card p-4">
      <a id="rightmenu" class="right-arrow" href="#">
        <img src="./img/landing/right-arrow.png" alt="" />
      </a>
      <div class="name-list leaderboard">
        <h1>Leaderboard</h1>
        <ol id="lead-list">
        </ol>
      </div>
      <button class="view-btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">view all</button>
    </div>
  </div>
</div>

<div class="position-fixed top-50 start-0 translate-middle-y" id="expo-list">
  <div class="card p-3 bg-light">
    <p style="cursor: pointer;" id="expo-close"><span data-feather="arrow-left" style="color: #01CDF2; margin-bottom: 2px; margin-right: 5px;"></span><strong>Back</strong></p>
    <div class="container mt-3 overflow-auto" style="height: 350px;">
      <div class="row">
        <div class="col-6">
          <img class="img-fluid mb-4" style="cursor: pointer;" src="./img/landing/acer.png" alt="" />
        </div>
        <div class="col-6">
          <img class="img-fluid mb-4" style="cursor: pointer;" src="./img/landing/acer.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="videoModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="videoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content position-relative bg-dark">
      <button
        type="button"
        class="btn-close position-absolute top-0 start-100 translate-middle"
        data-bs-dismiss="modal"
        aria-label="Close"
        style="background-color: cornflowerblue;width: 30px;height: 30px;z-index: 1080;"
      ></button>
        <div class="ratio ratio-16x9">
          <iframe src="" allow="autoplay;" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"><strong>BYGE 2021</strong></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content p-4 modal-black">
      <div class="modal-header leaderboard">
        <h1 class="modal-title" id="exampleModalLabel">Leaderboard</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-leaderboard" style="color: white;">
      </div>
    </div>
  </div>
</div>

<script>
  $("#expo-list").hide()
  function autoPlayYouTubeModal() {
    var triggerOpen = $("body").find("[data-tagVideo]");
    triggerOpen.click(function () {
      var theModal = $(this).data("bs-target"),
        videoSRC = $(this).attr("data-tagVideo"),
        videoSRCauto = videoSRC + "?autoplay=1";
      $(theModal + " iframe").attr("src", videoSRCauto);
      $(theModal + " button.btn-close").click(function () {
        $(theModal + " iframe").attr("src", videoSRC);
      });
    });
  }
  function openNewWindow() {
    window.open("/special-deal");
  }

  $("#expo").click(function() {
    $("#expo-list").fadeIn(500);
    $("#left-card").hide();
  })
  $("#expo-close").click(function(){
    $("#expo-list").fadeOut(500);
    $("#left-card").fadeIn(500);
  })

  $(document).ready(function () {
    autoPlayYouTubeModal();
    $("#left-card-show").hide()
    $("#right-card-show").hide()

    if ($(window).width() <= 731) {
      $("#right-card").hide();
      $("#right-card-show").hide();
      $("#leftmenu").click(function () {
        $("#left-card").fadeOut(500);
        $("#right-card-show").show();
      });
      $("#rightmenu").click(function () {
        $("#right-card").fadeOut(500);
        $("#left-card-show").show();
      });
      $("#left-card-show").click(function () {
        $("#left-card").fadeIn(500);
        $("#right-card-show").hide();
        $("#left-card-show").hide();
      });
      $("#right-card-show").click(function () {
        $("#right-card").fadeIn(500);
        $("#left-card-show").hide();
        $("#right-card-show").hide();
      });
    } else {
      $("#leftmenu").click(function () {
        $("#left-card").fadeOut(500);
        $("#left-card-show").show()
      });
      $("#rightmenu").click(function () {
        $("#right-card").fadeOut(500);
        $("#right-card-show").show()
      });
      $("#left-card-show").click(function () {
        $("#left-card-show").hide()
        $("#left-card").fadeIn(500);
      });
      $("#right-card-show").click(function () {
        $("#right-card-show").hide()
        $("#right-card").fadeIn(500);
      });
    }
  });
</script>

<script>
  var waitForEl = function (selector, callback) {
    if (jQuery(selector).length) {
      callback();
    } else {
      setTimeout(function () {
        waitForEl(selector, callback);
      }, 100);
    }
  };

  (function(d,t) {
    var BASE_URL="https://nexworldchat.synnexmetrodata.com";
    var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=BASE_URL+"/packs/js/sdk.js";
    g.defer = true;
    g.async = true;
    s.parentNode.insertBefore(g,s);
    g.onload=function(){
      window.chatwootSDK.run({
        websiteToken: 'XJve1NRLkycyeEe5TFijwjgY',
        baseUrl: BASE_URL
      })
    }
  })(document,"script");

  $(document).ready(function () {
    waitForEl(".woot-widget-holder", function () {
      $(".woot-widget-holder").css("position", "relative");
      $(".woot-widget-holder").append(`
        <div class="position-absolute top-100 start-50 translate-middle" style="height: 60px; width: 200px; background-color:#f4f6fb;">
        </div>
        `);
      console.log("wooott")
    });
  });
</script>

<script>
  fetch('https://api.nevvorld.cn/api/token/app/findRegistRankList?eventToken=C68H8U8V', {
            method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
            data.data.map((e, i)=> {
              $("#modal-leaderboard").append(`
                <div class="row">
                  <div class="col-4 text-center"><strong>${i+1}.</strong></div>
                  <div class="col-4 text-center"><h5><strong>${e.ign}</strong></h5></div>
                  <div class="col-4 text-center"><strong>${e.point}</strong></div>
                </div>
              `)
            })
            data.data.slice(0,5).map((e)=>{
              $("#lead-list").append(`
              <li>
                <div>
                  <p>${e.ign}</p>
                  <span>${e.point}</span>
                </div>
              </li>
              `)
            })
        })
        .catch(err => console.log(err))
</script>

<style>
  /* body,
  html {
    height: 100% !important;
  } */
  .container-fluid {
    /* background-image: url("./img/background-2.png"); */
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .left-arrow {
    position: absolute;
    top: 45%;
    left: 95%;
  }
  .right-arrow {
    position: absolute;
    top: 45%;
    right: 95%;
  }

  .logo {
    position: absolute;
    margin-top: -100px;
  }
  .card {
    background: rgba(0, 0, 0, 0.8);
    border: 6px solid #c65a85;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #d55085;
    border-radius: 20px;
    position: relative;
    width: 350px;
  }
  .modal-black {
    background: rgba(0, 0, 0, 0.8);
    border: 6px solid #c65a85;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #d55085;
    border-radius: 20px;
  }
  .card-header {
    text-align: center;
    margin-top: 30px;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-bottom: 2px solid #b7025f;
    box-sizing: border-box;
    cursor: pointer;
  }
  .menu:last-child {
    border: none;
  }
  .menu p {
    color: white;
    margin-top: 15px;
    margin-left: 20px;
  }
  .leaderboard h1 {
    font-size: 32px;
    -webkit-text-stroke: 2px #ff6db8;
    text-shadow: 0px 0px 10px #b7025f, 0px 0px 10px #b7025f,
      0px 0px 10px #b7025f;
    text-transform: uppercase;
    color: black;
    text-align: center;
  }
  .name-list {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
  .name-list ol li div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 36px; */
    padding-right: 36px;
  }
  li {
    list-style-type: decimal;
  }
  ol {
    margin-top: 44px;
    margin-bottom: 34px;
  }
  .view-btn {
    background: transparent;
    /* width: 342px; */
    height: 60px;
    color: #01cdf2;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #b7025f;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .view-btn:hover {
    background-color: #b7025f;
    transition: all 0.3s;
  }
  ::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a0a3bd;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #01CDF2;
  }
</style>
